
.nav {
    grid-area: n;
    background-color: #1f3680;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /*border: 1px solid red;*/
}

.item {
    width: 100%;
    margin: 5px;
    text-align: center;
}
.item h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
}

.item a.activeLink {
    color: red;
}

.item a {
    position: relative;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

/*animation*/
.item a:before, a:after {
    content: ' ';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    /* 100% ширины от родителя */
    height: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #ffffff;
}

.item a:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.item a:after {
    top: 0;
}

.item a:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    color: black;
}
